xml/map.dtd

<!ELEMENT pagina (apartado+)>
<!ELEMENT apartado (seccion+)>
<!ATTLIST apartado
          id CDATA #REQUIRED>
<!ELEMENT seccion (heroe*, villano*, pelicula*)>
<!ATTLIST seccion
          id CDATA #REQUIRED>
<!ELEMENT heroe (nombre)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT villano (nombre)>
<!ELEMENT pelicula (nombre)>
